<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="bailey.rod.photomosaic">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
        Welcome screen. Informs user what this app is for.
        TODO: Remove this - not necessary.
        -->
        <activity
            android:name="bailey.rod.photomosaic.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--
        Activity for setting up tile size. "Send To" / "Share To" intents
        from the Android Gallery app hook into this activity.
        -->

        <activity
            android:name="bailey.rod.photomosaic.SetMosaicTileSizeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>

        <!--
        Because 'exported' is true, this service can be invoked by any application
        -->
        <service
            android:name="bailey.rod.photomosaic.PhotoMosaicService"
            android:exported="true">

        </service>
    </application>

</manifest>