<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="bailey.rod.photomosaic">

    <!-- In case the image supplied to mosaic is on external storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--
        Welcome screen. Informs user what this app is for.
        TODO: Can this be removed? Can intent filters be merged to .MosaicActivity?
        -->
        <activity
            android:name="bailey.rod.photomosaic.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--
        Activity for genearting a mosaic'd equivalent of a given image. "Share To" intents
        from other app hook into this activity. This is
        important because this is the way that mosaic'ing will generally be achieved. From some
        other app (such as "Camera" or "File Explorer"), the user will select an image
        then hit a "Share to" button. A list of apps to Share with will appear, one of which
        will be this app. Selecting this app will fire up the MosaicActivity, which will later
        fire up the MosaicService when it is ready to create a Mosaic.
        -->

        <activity
            android:name=".MosaicActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>

        <!--
        Because 'exported' is true, this service can be invoked by any application.
        -->
        <service
            android:name=".MosaicService"
            android:exported="true">

        </service>
    </application>

</manifest>